 

body {
    background-image: url(images.png); 
    min-height: 400px;
    background-color: black;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat:  repeat-x repeat-y; 

}

#inputs {
     display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;


}

#resultado {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;
}

#texto  {
    color: white;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

#InputDoUsuario {
    font-size: 30px;
    width: 200px;
    
    

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;

}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#botao {
    font-size: 14px;
    width: 50px;
    height: 35px;
    margin-left: 10px;
    border-radius: 3px;
    border:none;
    cursor: pointer;
}